In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("AirPassengers.csv")
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [5]:
#rename passenger columns name 
data.rename(columns={"#Passengers":"passengers"}, inplace=True)

In [6]:
#extract month and years from date
data['month'] = [int(i.split('-')[1]) for i in data['Month']]
data['year'] = [int(i.split('-')[0]) for i in data['Month']]

In [7]:
#create sequence of numbers
data['Series'] = np.arange(1,len(data)+1)

In [8]:
data.head()

     Month  passengers  month  year  Series
0  1949-01         112      1  1949       1
1  1949-02         118      2  1949       2
2  1949-03         132      3  1949       3
3  1949-04         129      4  1949       4
4  1949-05         121      5  1949       5

In [9]:
#drop unnecessary columns
data.drop('Month', axis=1, inplace=True)
data = data[['Series', 'year', 'month', 'passengers']]

data.head()

   Series  year  month  passengers
0       1  1949      1         112
1       2  1949      2         118
2       3  1949      3         132
3       4  1949      4         129
4       5  1949      5         121

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Series      144 non-null    int64
 1   year        144 non-null    int64
 2   month       144 non-null    int64
 3   passengers  144 non-null    int64
dtypes: int64(4)
memory usage: 4.6 KB

In [11]:
#split data train and test
train = data[data['year'] < 1960]
test = data[data['year'] >= 1960]

#chack shape
train.shape, test.shape

((132, 4), (12, 4))

In [13]:
#import regression module
from pycaret.regression import *

ModuleNotFoundError: No module named 'pycaret'

In [ ]:
#initialize setup
s = setup(data=train, test_data=test, target='passengers', fold_strategy='timeseries', numeric_features=['Series', 'year', 'month'], fold=3, transform_target= True, session_id=1903)

INFO:logs:PyCaret Supervised Module
INFO:logs:ML Usecase: regression
INFO:logs:version 2.3.10
INFO:logs:Initializing setup()
INFO:logs:setup(target=passengers, ml_usecase=regression, available_plots={'parameter': 'Hyperparameters', 'residuals': 'Residuals', 'error': 'Prediction Error', 'cooks': 'Cooks Distance', 'rfe': 'Feature Selection', 'learning': 'Learning Curve', 'manifold': 'Manifold Learning', 'vc': 'Validation Curve', 'feature': 'Feature Importance', 'feature_all': 'Feature Importance (All)', 'tree': 'Decision Tree', 'residuals_interactive': 'Interactive Residuals'}, train_size=0.7, test_data=     Series  year  month  passengers
132     133  1960      1         417
133     134  1960      2         391
134     135  1960      3         419
135     136  1960      4         461
136     137  1960      5         472
137     138  1960      6         535
138     139  1960      7         622
139     140  1960      8         606
140     141  1960      9         508
141     142  1960     10         461
142     143  1960     11         390
143     144  1960     12         432, preprocess=True, imputation_type=simple, iterative_imputation_iters=5, categorical_features=None, categorical_imputation=constant, categorical_iterative_imputer=lightgbm, ordinal_features=None, high_cardinality_features=None, high_cardinality_method=frequency, numeric_features=['Series', 'year', 'month'], numeric_imputation=mean, numeric_iterative_imputer=lightgbm, date_features=None, ignore_features=None, normalize=False, normalize_method=zscore, transformation=False, transformation_method=yeo-johnson, handle_unknown_categorical=True, unknown_categorical_method=least_frequent, pca=False, pca_method=linear, pca_components=None, ignore_low_variance=False, combine_rare_levels=False, rare_level_threshold=0.1, bin_numeric_features=None, remove_outliers=False, outliers_threshold=0.05, remove_multicollinearity=False, multicollinearity_threshold=0.9, remove_perfect_collinearity=True, create_clusters=False, cluster_iter=20, polynomial_features=False, polynomial_degree=2, trigonometry_features=False, polynomial_threshold=0.1, group_features=None, group_names=None, feature_selection=False, feature_selection_threshold=0.8, feature_selection_method=classic, feature_interaction=False, feature_ratio=False, interaction_threshold=0.01, fix_imbalance=False, fix_imbalance_method=None, transform_target=True, transform_target_method=box-cox, data_split_shuffle=True, data_split_stratify=False, fold_strategy=timeseries, fold=3, fold_shuffle=False, fold_groups=None, n_jobs=-1, use_gpu=False, custom_pipeline=None, html=True, session_id=1903, log_experiment=False, experiment_name=None, experiment_custom_tags=None, log_plots=False, log_profile=False, log_data=False, silent=False, verbose=True, profile=False, profile_kwargs=None, display=None)
INFO:logs:Checking environment
INFO:logs:python_version: 3.8.10
INFO:logs:python_build: ('default', 'Nov 14 2022 12:59:47')
INFO:logs:machine: x86_64
INFO:logs:platform: Linux-5.10.147+-x86_64-with-glibc2.29
INFO:logs:Memory: svmem(total=13616332800, available=11942359040, percent=12.3, used=1355255808, free=8737619968, active=957931520, inactive=3582976000, buffers=380690432, cached=3142766592, shared=1339392, slab=253726720)
INFO:logs:Physical Core: 1
INFO:logs:Logical Core: 2
INFO:logs:Checking libraries
INFO:logs:pd==1.3.5
INFO:logs:numpy==1.22.4
INFO:logs:sklearn==0.23.2
INFO:logs:lightgbm==3.3.5
WARNING:logs:catboost not found
INFO:logs:xgboost==1.7.4
INFO:logs:mlflow==2.2.1
INFO:logs:Checking Exceptions
INFO:logs:Declaring global variables
INFO:logs:USI: e75c
INFO:logs:pycaret_globals: {'X_train', 'fold_generator', '_ml_usecase', 'fix_imbalance_param', 'create_model_container', 'transform_target_method_param', 'imputation_regressor', 'X_test', 'fix_imbalance_method_param', 'fold_shuffle_param', 'dashboard_logger', 'imputation_classifier', 'USI', 'seed', '_gpu_n_jobs_param', 'fold_groups_param_full', 'master_model_container', 'y_test', 'iterative_imputation_iters_param', 'exp_name_log', 'experiment__', 'fold_groups_param', 'stratify_param', 'target_param', 'gpu_param', '_available_plots', 'html_param', 'prep_pipe', '_internal_pipeline', 'y', 'pycaret_globals', 'logging_param', '_all_models_internal', 'display_container', '_all_models', '_all_metrics', 'log_plots_param', 'X', 'data_before_preprocess', 'n_jobs_param', 'fold_param', 'transform_target_param', 'y_train'}
INFO:logs:Preparing display monitor
INFO:logs:Preparing display monitor

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            13:25:11
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

INFO:logs:Importing libraries
INFO:logs:Copying data for preprocessing
INFO:logs:Declaring preprocessing parameters
INFO:logs:Creating preprocessing pipeline
INFO:logs:Preprocessing pipeline created successfully
ERROR:logs:(Process Exit): setup has been interupted with user command 'quit'. setup must rerun.
INFO:logs:Creating global containers
INFO:logs:Internal pipeline: Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False)

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue…

           Data Type
Series       Numeric
year         Numeric
month        Numeric
passengers     Label

In [ ]:
best = compare_models(sort= 'MAE')